.button-nav{
	&--prev {
		@include maxBreakpoint('middle') {
			order: 1;
			position: absolute;
			bottom: 0px;
			left: 43px;
		}
	}

	&--next {
		@include maxBreakpoint('middle') {
			position: relative;
			left: 61px;
		}
	}
}

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 53px;
	position: relative;

	@include maxBreakpoint('stretch') {
		gap: 12px;
	}

	@include maxBreakpoint('middle') {
		flex-direction: column;
	}

	&__wrapper {
		max-width: 990px;
		overflow: hidden;

		@include maxBreakpoint('stretch') {
			max-width: 580px;
		}

		@include maxBreakpoint('middle') {
			max-width: 270px;
		}
	}

	&__inner, &__item {
		display: flex;
		gap: 90px;

		@include maxBreakpoint('stretch') {
			gap: 40px;
		}
	}

	&__inner {
		transform: translateX(-1080px);

		@include maxBreakpoint('stretch') {
			transform: translateX(-620px);
		}

		@include maxBreakpoint('middle') {
			transform: translateX(-310px);
		}
	}
}

@keyframes move-right {
	from {transform: translateX(-1080px);}
	to {transform: translateX(-2160px);}
}

@include maxBreakpoint('stretch') {
	@keyframes move-right {
		from {transform: translateX(-620px);}
		to {transform: translateX(-1240px);}
	}
}

@include maxBreakpoint('middle') {
	@keyframes move-right {
		from {transform: translateX(-310px);}
		to {transform: translateX(-620px);}
	}
}

@keyframes move-left {
	from {transform: translateX(-1080px);}
	to {transform: translateX(0px);}
}

@include maxBreakpoint('stretch') {
	@keyframes move-left {
		from {transform: translateX(-620px);}
		to {transform: translateX(0px);}
	}
}

@include maxBreakpoint('middle') {
	@keyframes move-left {
		from {transform: translateX(-310px);}
		to {transform: translateX(0px);}
	}
}

.transition {
	&-left, &-right {
		animation-duration: 1.4s;
		animation-timing-function: ease;
	}

	&-left {
		animation-name: move-left;
	}

	&-right {
		animation-name: move-right;
	}
}