.logo-link {
	&__title--index-color {
		color: $color-primary;
	}

	&__subtitle--index-color {
		color: $color-light-xl;
	}

	&__title--pets-color {
		color: $color-dark-l;
	}

	&__subtitle--pets-color {
		color: $color-dark-3xl;
	}
}


.menu {
	&__button {
		background-color: transparent;
		border: none;
	}

	&__list--dark3xl {
		@include maxBreakpoint('middle') {
			background-color: $color-dark-3xl;
		}
	}

	&__list--lightxl {
		@include maxBreakpoint('middle') {
			background-color: $color-light-xl;
		}
	}

	&__link {
		&--index-color {
			color: $color-dark-s;
	
			&--active, &:focus, &:active, &:hover {
				color: $color-light-s;
			}
		}
	
		&--pets-color {
			color: $color-dark-l;
	
			&:focus, &:active, &:hover {
				color: $color-dark-3xl;
			}
	
			&--active {
				color: $color-dark-3xl;
			}
	}
	}
}

.menu__button {
	background-color: transparent;
	border: none;
}

.menu__link {
	&--index-color {
		color: $color-dark-s;

		&:focus, &:active, &:hover {
			color: $color-light-s;
		}

		&--active {
			color: $color-light-s;
		}
	}

	&--pets-color {
		color: $color-dark-l;

		&:focus, &:active, &:hover {
			color: $color-dark-3xl;
		}

		&--active {
			color: $color-dark-3xl;
		}
	}
}

.button, .button-nav {
	color: $color-dark-3xl;

	&--color--primary {
		background-color: $color-primary;
		border: none;

		&--current {
			background-color: $color-primary;
			border: none;
			cursor: auto;
			&:focus, &:hover {
				background-color: $color-primary;
			}
		}

		&:focus, &:hover {
			background-color: $color-primary-light;
		}
	}

	&--color--light {
		background-color: transparent;
		border: 2px solid $color-primary;
		&:focus, &:hover {
			border: 2px solid $color-primary-light;
			background-color: $color-primary-light;
		}
	}

	&--disabled {
		color: $color-dark-s;
		border: 2px solid $color-dark-s;
		&:focus, &:hover {
			background-color: transparent;
			border: 2px solid $color-dark-s;
		}
	}
}

.intro {
	&-pets {
		background-color: $color-light-xl;
	}

	&__title {
		color: $color-light-xl;
	}

	&__text {
		color: $color-dark-s;
	}
}

.about {
	&__title, &__text {
		color: $color-dark-l;
	}
}

.friends {
	background-color: $color-light-l;

	&__title {
		color: $color-dark-l;
	}

	&__card {
		transition: all 0.5s;
		background-color: $color-light-s;

		&-button {
			transition: all 0.5s;
			color: $color-dark-3xl;
			background-color: transparent;
		}

		&:focus, &:hover  {
			transition:all 0.5s;
			background-color: #fff;
			box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
			& .friends__card-button {
				transition: all 0.5s;
				background-color: $color-primary-light;
				border: 2px solid $color-primary-light;
			}
		}
	}

	&__name {
		color: $color-dark-l;
	}

	&__modal::backdrop {
		background-color: rgba(41, 41, 41, 0.6);
	}

	&__article {
		background-color: $color-light-s;
		outline: none;

		&-item {
			&::marker {
				color: $color-primary;
			}
		}
	}

	&__modal:hover &__article-button {
		background-color: $color-primary;
	}

	&__article:hover &__article-button {
		background-color: transparent;
	}

	&__article:hover &__article-button:hover {
		background-color: $color-primary-light;
	}
}

.help {
	&__title, &__item-title {
		color: $color-dark-l;
	}
}

.donation {
	background-color: $color-light-l;

	&__title {
		color: $color-dark-l;
	}

	&__text {
		color: $color-dark-m;
	}

	&__card {
		&-label {
			color: $color-dark-l;
		}

		&-details {
			background-color: $color-primary;

			&:focus, &:hover {
				background-color: $color-primary-light;
			}
		}

		&-number {
			color: $color-dark-l;
		}
	}
}

.contacts, .adress {
	&__title {
		color: #FFF;
	}
}

.contacts {
	&__email, &__tel {
		color: $color-primary;
	}
}

.adress {
	&__link {
		color: $color-primary;
	}
}