.intro-pets {
	position: sticky;
	top: 0;

	&__header {
		height: 120px;
		background-color: #fff;
		padding: 30px 0;
		margin: 0 auto;
	}
}

.pagination {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__item {
		max-width: 1200px;
		display: grid;
		grid-template-columns: repeat(auto-fill, 270px);
		grid-template-rows: repeat(auto-fill, 435px);
		column-gap: 40px;
		row-gap: 30px;
		padding: 15px 0;
		margin-top: 45px;

		@include maxBreakpoint('stretch') {
			max-width: 708px;
			padding: 0;
		}

		@include maxBreakpoint('middle') {
			max-width: 300px;
		}
	}

	@include maxBreakpoint('stretch') {
		@for $i from 1 to 3 {
			&__card:nth-last-child(#{$i}) {
				display: none;
			}
		}
	}

	@include maxBreakpoint('middle') {
		@for $i from 3 to 6 {
			&__card:nth-last-child(#{$i}) {
				display: none;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 340px;
		margin-top: 45px;

		@include maxBreakpoint('middle') {
			min-width: 300px;
			width: auto;
			margin-top: 40px
		}

		@include maxBreakpoint('smallest') {
			max-width: 300px;
			min-width: auto;
			margin-top: 42px;
		}
	}
}

// .friends {
// 	&__pagination {
// 		padding: 15px 0;
// 		margin-top: 45px;
// 		margin-bottom: 45px;

// 		@include maxBreakpoint('stretch') {
// 			padding: 0;
// 			margin-top: 30px;
// 			margin-bottom: 40px;
// 		}

// 		@include maxBreakpoint('middle') {
// 			margin-top: 42px;
// 			margin-bottom: 42px;
// 		}
// 	}

// 	&__item {
// 		max-width: 1200px;
// 		display: grid;
// 		grid-template-columns: repeat(auto-fill, 270px);
// 		grid-template-rows: repeat(auto-fill, 435px);
// 		column-gap: 40px;
// 		row-gap: 30px;

// 		@include maxBreakpoint('stretch') {
// 			max-width: 708px;
// 		}

// 		@include maxBreakpoint('middle') {
// 			max-width: 300px;
// 		}
// 	}

// 	@include maxBreakpoint('stretch') {
// 		@for $i from 1 to 3 {
// 			&__card:nth-last-child(#{$i}) {
// 				display: none;
// 			}
// 		}
// 	}

// 	@include maxBreakpoint('middle') {
// 		@for $i from 3 to 6 {
// 			&__card:nth-last-child(#{$i}) {
// 				display: none;
// 			}
// 		}
// 	}
// }

