.footer {
	background: url('../assets/images/noise_transparent@2x.png'),
	            radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
	             #211F20;


	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 349px;

		@include maxBreakpoint('stretch') {
			justify-content: center;
			flex-wrap: wrap;
			padding-top: 30px;
			gap: 65px 60px;
		}

		@include maxBreakpoint('middle') {
			gap: 40px;
		}
	}
}

.footer__image {
	display: block;
	align-self:flex-end;
	max-width: 300px;
	height: 310px;

	@include maxBreakpoint('middle') {
		min-width: 260px;
		width: 60%;
		height: auto;
	}
}

.contacts, .adress {
	height: 234px;
}

.contacts {
	@include maxBreakpoint('middle') {
		height: 208px;
	}

	&__title {
		max-width: 279px;
	}

	&__email {
		background: url('../assets/images/icon-email.svg') no-repeat left;
	}

	&__tel {
		background: url('../assets/images/icon-phone.svg') no-repeat left;
	}

	&__email, &__tel {
		display: block;
		line-height: 34px;
		padding-left: 60px;
		max-width: fit-content;
		margin: 38px 0;

		@include maxBreakpoint('middle') {
			margin: 38px auto;
		}
	}
}

.adress {
	@include maxBreakpoint('middle') {
		height: 222px;
	}

	&__title {
		max-width: 271px;

		@include maxBreakpoint('middle') {
			margin: 9px auto 0;

			@media(max-width: 638px) {
				margin: 0 auto;
			}
		}
	}
	&__link {
		display: block;
		background: url('../assets/images/icon-marker.png') no-repeat left;
		width: 302px;
		padding-left: 42px;
		margin-top: 32px;
		margin-bottom: 32px;

		@include maxBreakpoint('middle') {
			width: 300px;
			margin: 27px auto 27px;
		}

		@media(max-width: 638px) {
			margin: 39px auto 39px;
		}

		@include maxBreakpoint('smallest') {
			max-width: 300px;
			width: auto;
		}
	}

	&__link + &__link {
		margin-top: 32px;
		line-height: 32px;

		@include maxBreakpoint('middle') {
			margin: 39px auto 0;
		}
	}
}