.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__menu {
		@include maxBreakpoint('middle') {
			position: absolute;
			top: 0;
			right: 0;
			padding: 49px 10px 0;
		}
	}
}

.logo-link {
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	height: 60px;

	@include maxBreakpoint('small') {
		z-index: 1;
	}

	&--fixed {
		@media(max-width: 375px) {
			position: fixed;
			z-index: 1;
			right: 126px;
			transform: translateX(0);
			animation-name: fixed;
			animation-duration: .4s;
			animation-timing-function: ease;

			@keyframes fixed {
				from {
					transform: translateX(320px);
				}

				to {
					transform: translateX(0);
				}
			}
		}

		@include maxBreakpoint('small') {
			right: 124px;
		}
	}

	&__title {
		margin-top: 1px;
	}

	&__subtitle {
		margin-left: 4px;
		@include maxBreakpoint('stretch') {
			margin-bottom: -1px;
		}
	}
}

.menu {
	width: 443px;

	@include maxBreakpoint('middle') {
		display: flex;
		flex-direction: column;
		width: auto;
	}

	&__button {
		width: 30px;
		height: 22px;
		padding: 0;
		margin: 0 43px 0 0;
		display: none;
		cursor: pointer;
		transition: transform .4s ease;

		@include maxBreakpoint('middle') {
			display: block;
			align-self: flex-end;
			z-index: 10;
		}
	}

	&--active .menu__button {
		transform: rotate(90deg) ;
		transform-origin: center;
		transition: transform .4s ease;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style-type: none;
		transition: transform .4s ease;

		@include maxBreakpoint('middle') {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 40px;
			width: 320px;
			height: 100vh;
			position: fixed;
			top: 0;
			right: 0;
			transform: translateX(320px);
			transition: transform .4s ease;
		}

		@media (max-height: 500px) and (max-width: 767px) {
			justify-content: flex-end;
		}
	}

	&--active .menu__list {
		right: 0;
		transform: translateX(0);
		box-shadow: 0 0 0 5000px rgba(41, 41, 41, 0.6);
	}

	&__link {
		display: block;

		&.menu__link--active {
			border-bottom: 3px solid $color-primary;
		}
	}
}