section {
	padding-top: 80px;
	padding-bottom: 100px;

	@include maxBreakpoint('middle') {
		padding-top: 42px;
		padding-bottom: 42px;
	}
}

.friends-pets {
	@include maxBreakpoint('stretch') {
		padding-bottom: 76px;
	}

	@include maxBreakpoint('middle') {
		padding-bottom: 42px;
	}
}

.friends {
	&__inner {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		max-width: 400px;
		height: 90px;
		text-align: center;

		@include maxBreakpoint('middle') {
			height: 64px;
		}
	}

	&__card {
		width: 270px;
		height: 435px;
		cursor: pointer;
	}

	&__figure {
		width: 270px;
	}

	&__photo {
		width: 100%;
		height: 270px;
	}

	&__card, &__photo {
		border-radius: 9px 9px 0 0;
	}

	&__name {
		margin: 30px auto;
		width: fit-content;
	}

	&__card-button {
		margin: 0 auto;
	}

	&__modal {
		width: 952px;
		// height: 552px;
		padding: 0;
		border: none;
		z-index: 1;
		background-color: transparent;
		padding-top: 52px;
		padding-right: 52px;
		margin: auto;
		transform: translate(25px, -52px);

		@include maxBreakpoint('stretch') {
			width: 682px;
			// height: 402px;
		}

		@include maxBreakpoint('middle') {
			width: 271px;
			// height: 393px;
			padding-right: 31px;
			transform: translate(15px, -52px);
		}

		// @media(min-width: 1280px) and (min-height: 877px) {
		// 	transform: translate(25px, -25px);
		// }

		// @media(min-width: 768px) and (min-height: 877px) {
		// 	transform: translate(25px, -77px);
		// }

		// @media(min-width: 320px) and (min-height: 791px) {
		// 	transform: translate(15px, -21px);
		// }
	}

	&__article {
		display: flex;
		justify-content: space-between;
		width: 900px;
		border-radius: 9px;

		@include maxBreakpoint('stretch') {
			width: 630px;
		}

		@include maxBreakpoint('middle') {
			width: 240px;
		}

		&-image {
			width: 500px;
			border-radius: 9px 0 0 9px;
			flex-shrink: 0;

			@include maxBreakpoint('stretch') {
				width: 350px;
				height: 350px;
			}

			@include maxBreakpoint('middle') {
				display: none;
			}
		}

		&-text {
			padding: 50px 20px 88px 29px;

			@include maxBreakpoint('stretch') {
				padding: 10px 9px 37px 11px; 
			}

			@include maxBreakpoint('middle') {
				padding: 10px;
			}
		}

		&-subtitle {
			margin-top: 10px;
			display: block;

			@include maxBreakpoint('middle') {
				margin: 10px auto 0;
			}
		}

		&-paragraph {
			margin: 40px 0 40px;

			@include maxBreakpoint('stretch') {
				margin: 20px 0 20px;
			}

			@include maxBreakpoint('middle') {
				margin: 20px 0 24px;
			}
		}

		&-list {
			padding: 0 0 0 14px;
			margin: 0;
		}

		&-item + &-item {
			margin-top: 10px;

			@include maxBreakpoint('stretch') {
				margin-top: 5px;
			}
		}

		&-button {
			position: absolute;
			top: 0;
			right: 10px;
			margin: 0;

			@include maxBreakpoint('middle') {
				right: 0;
			}
		}
	}
}